.ContentPage{
    width: 60vw;
    height: 96vh;
    background-color: #2b6777;
    float: left;
    padding: 2vh;
    
   
}
.logo{
    width: 15vw;
    height: 9vh;
    margin-left: 1vw;
    float: left;
}
.searchbar{
    margin-left: 41vw;
    border: none;
}
.searchbar input{
    width: 15vw;
    height: 5vh;
    margin-top: 2vh;
    
}
.intro{
    width: 35vw;
    height: 8vh;
    color: #ffffff;
    margin: 4vh 0 0 1vw;      
}
.payments{
    width: 26vw;
    height: 45vh;
     color: #ffffff;
    float: left;
    margin: 3vh 0 0 1vw;
    font-weight: bold;
}
.quick-access{
    width: 26vw;
    height: 45vh;
    color: #ffffff;
    margin: 3vh 0 0 31vw;
    font-weight: bold;
}
.pay-box{
    width: 7.5vw;
    height: 18vh;
    color: #2b6777;
    margin: 2vh 0 1vh 0.5vw;
    float: left;
    border: 1px solid ;
    text-align: center;
    border: 2px solid white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    font-size: 18px;
    padding: 3vh 0 0 0;
    border-radius: 10px;
    background-color: #BBD2D6;
}
.pay-box:hover{
    border: 2px solid #20428F;
}
.pay-box img{
    width: 4vw;
    height: 8vh;
    
    margin: 0 0 0 0vw;
}
.pay-box  span{
    color: #2b6777;
}
.icons{
    width: 4vw;
    height: 8vh;
    margin: 2vh 0 0 1.5vw; 
}
.asd{
    width: 54.5vw;
    height: 10vh;
    background-color: #BBD2D6;
    color: #2b6777;
    margin: 11vh 0 0 1.5vw;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    justify-content: space-between;
    text-align: center;
    padding-top: 2.5vh;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}
.asd div{
    width: 18vw;
    height: 10vh;
    float: left;
    font-weight: bold;
    font-size: 20px;
}
.asd img{
    width: 3vw;
    height: 4vh;
    margin-right: 1vw;

}
.icon-s{
    width: 6vw;
    height: 10vh;
    margin-left: 0.7vw;
    text-align: center;
    align-items: center;
    font-size:3vw;
}